@model DataAccessLayer.Models.Request




<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Talep Değerlendirmesi</h4>
        <p>
           @Model.Comment
        </p>
    </div>
</div>



