@model TechnicalSupportService.Models.categoryListViewModel
@{
    ViewBag.Title = "AdminPanel";
    Layout = "~/Views/Shared/_FAQIndexLayout.cshtml";
    //HelpCenter hp = new HelpCenter();
}
<main role="main">
    <div class="p3 mglonx darken1">
        <div class="max-width-4 mx-auto">
            <nav class="flex items-center justify-between mb3">
                <ol class="breadcrumbs">

                    <li title="Home">

                        <a href="/FAQ/index">Ana Sayfa</a>

                    </li>
                    <li title="All Categories">

                        <a href="/FAQ/Categories">Tüm Kategoriler</a>

                    </li>

                  


                </ol>

            </nav>
            @*<header class="display huge mb2">
                <span class="display-4" >
                    Kategoriler

                </span>

            </header>*@


            <div class="flex flex-wrap mxn2">
                @foreach (var item in Model.CategoryList.Where(x => x.Category_Parent_ID == null))
                {
                    <section class="lg-col-6 md-col-6 sm-col-12 xs-col-12 p2 mb3">
                        <div class="col-12">

                            <h4 class="stronger mb2">
                                <a href="/FAQ/CategoryDetails/@item.Category_ID">@item.Category_Name</a>

                            </h4>

                            @foreach (var item2 in Model.CategoryList.Where(x => x.Category_Parent_ID != null && x.Category_Parent_ID==item.Category_ID))
                            {
                            <div>

                                <div class="mb2 flex items-center">

                                    <h3>
                                        <a href="/FAQ/CategoryDetails/@item2.Category_ID" class="link-quiet text-blue ml-2">@item2.Category_Name</a>
                                    </h3>
                                </div>

                            </div>
                            }


                        </div>
                    </section>}

            </div>
        </div>
    </div>
</main>

<style>
    body > footer {
        background-color: #f9f9f9;
        padding: 5% 5%;
    }

    a.link {
        cursor: pointer;
        color: #000;
    }
</style>


